@model ibkyazilim_LandingPage.Areas.Yonetim.Models.AccountControl

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Kullanıcı Detay</h3>
</div>
<div class="modal-body">

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => Model.ID, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ID, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.DURUM, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.DURUM, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => Model.AD, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.AD, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => Model.SOYAD, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.SOYAD, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.KULLANICIADI, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.KULLANICIADI, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.PAROLA, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PAROLA, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.EMAIL, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.EMAIL, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.ADMIN, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ADMIN, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.ETAR, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ETAR, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.DTAR, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.DTAR, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Kapat</button>
</div>
