@model ibkyazilim_LandingPage.Areas.Yonetim.Models.GeriBildirim

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Geri Bildirim Detay</h3>
</div>
<div class="modal-body">

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => Model.adisoyadi, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.adisoyadi, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.email, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.email, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => Model.konu, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.konu, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => Model.iletilenmesaj, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextAreaFor(m => m.iletilenmesaj, new { @class = "form-control required", @disabled = "disabled" })
            </div>
        </div>
        </div>
    </div>
<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>
