@model ibkyazilim_LandingPage.Areas.Yonetim.Models.FileUpload

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FileUpload</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DURUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DURUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FILETYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FILETYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FILEFORMAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FILEFORMAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FILENAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FILENAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FILE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FILE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
